.app-container {
    background-image: radial-gradient(circle at 50% 0, #8395ad, #4c5c74);
}

.app {
    width: 1105px;
    margin: 0 auto;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}
